.intro-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #1351F0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.intro-box {
    width: 400px;
}

.intro-img {
    display: inline-block;
}

.intro-title {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.intro-subtitle {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #F0F8FF;
    margin-bottom: 74px;
}

