.main-page{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top left;
}

.hover-box {
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.hover-container:hover .hover-box{
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.btn-icon.arrow-right-icon + .hover-box {
    transform: translateX(-100%);
}

.hover-container:hover .btn-icon.arrow-right-icon + .hover-box{
    
    transform: translateX(0);
}

.btn-icon.arrow-left-icon + .hover-box {
    transform: translateX(100%);
}

.hover-container:hover  .btn-icon.arrow-left-icon + .hover-box{
    
    transform: translateX(0);
}

.item-right .hover-container {
    display: flex;
    flex-direction: row-reverse;
}