.login-page {
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 105px
}

.login-box {
    padding: 30px;
    width: 360px;
    background: #fff;
    border: 1px solid #D8E3EC;
    border-radius: 5px;
    min-height: 742px;
    box-sizing: border-box;
}

.login-info {
    display: block;
}

.login-img {
    margin-top: 40px;
    margin-bottom: 50px;
}

.list + .login-img {
    margin-top: 103px;
    margin-left: 20px;
}