.ui-select {
    width: 100%;
    min-height: 40px;
    border: 1px solid #ADB4BA;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.ui-select select{
    width: 100%;
    min-height: 40px;
    height: 100%;

    font-size: 16px;
    color: #212121;
    border: none;
    background: none;
}

.ui-select option {
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}

